.container {
  width: 70%;
  margin: 20px auto;
}

.title {
  text-align: center;
}

.frmWrap {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frmGroup {
  /* margin: 0 172px; 양 옆 줄간격 맞추기 위함 */
  /* border: 1px solid #807a7a; */
}

.inputGroup {
  margin: 18px;
}

.inputName {
  margin-left: 0.3rem;
  font-size: 13px;
  font-weight: bold;
}

.inputWrap {
  margin-top: 8px;
}
.inputGroup {
  position: relative;
}
.inputGroup input {
  outline: none;
  width: 150px;
  height: 23px;
  padding: 3px 8px;
  border: 1px solid #dcdcdc;
}

.inputW100 {
  width: 90% !important;
}

.inputGroup input[type='radio'] {
  width: 20px;
}

button {
  cursor: pointer;
  outline: none;
  transition: 0.2s;
}
button:active {
  position: relative;
  top: -3px;
}
.checkBtn {
  position: relative;
  top: 1px;
  border: 1px solid #dcdcdc;
  width: 130px;
  height: 31px;
  padding: 5px;
  margin: 0 0.3rem;
}
.frmBtn {
  border: 1px solid #dcdcdc;
  width: 167px;
  height: 40px;
  color: #dcdcdc;
  font-size: 18px;
  padding: 5px;
  margin: 0.8rem 0.3rem;
}

.frmBtn[type='submit'] {
  background-color: #77afe4;
}
.frmBtn[type='reset'] {
  background-color: #ff6347;
}

/* 유효성 관련 스타일 */
.valid {
  position: relative;
  bottom: 8px;
  font-size: 13px;
  font-weight: 600;
}
.validsuccess {
  color: #448044;
}
.validError {
  color: #ee1919;
}
.ico {
  color: #d8445d;
}
